.checkbox{
    width: 40px;
    height: 22px;
    padding: 0;
}

.checkbox-2{
    width: 30px;
    height: 18px;
    padding: 0;
}

.search-tag{
    padding: 7px 5px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.search-tag p{
    padding-right: 50px;
}

.tag-2 p{
    padding-right: 70px;
    font-size: 12px;
}