.card-view{
    text-align: center;
    margin: 10px 20px;
}

.card-view img:hover{
    box-shadow: 0 0 7px rgb(36, 41, 47);
}

.card-view .card-book-btn{
    cursor: pointer;
}

.card-view .card-book-btn:hover{
    transform: scale(1.1);
    transition: ease-in-out linear;
}

.card-view .card-book-title{
    margin: 0;
    color: rgb(36, 41, 47);
    font-family: "Times New Roman", Times, monospace;
}

.card-view .card-book-author{
    margin: 15px 0 5px;
    font-size: 12px;
    color: rgb(36, 41, 47);
}

.card-view .card-book-price{
    margin: 5px;
    font-size: 13px;
    color: rgb(208, 65, 55);
    font-family: Papyrus, serif;
}